body, html
{
  width:100%;
  height:100%;
  margin:0;
}
.wrapper {
  background: #50a3a2;
  background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
  background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height:auto;
  margin-top :-300px;
  overflow: hidden;
}
#container {
  width: 100%;
  height:auto;

}
#primary {
  float: left;
  width: 40%;
  height:auto;

}
#content {
  float: left;
  width: 10%;
  height:auto;

}
#secondary {
  float: left;
  width: 50%;
  height:auto;
}
#footer {
  clear: both;
  border-top: 4px solid black;
  clear: both;
  color: black;
  font-size: 14px;
  line-height: 18px;
  margin: 0 auto;
  padding: 18px 0 0;
  text-align: center;
  font-weight: bold;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:black;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color:black;
}
ul.MenuHome li.right {
  float: right;
}
.inner {
  max-width: 400px;
  margin: auto;
  background: none;
  padding: 15px 15px 15px;

  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2); }

textarea {
  resize: none; }

h3 {
  text-transform: uppercase;
  font-size: 20px;
  font-family: "Montserrat-Bold";
  text-align: center;
  margin-bottom: 12px; }

input, textarea, select, button {
  font-family: "Montserrat-Regular";
  color: #fff;
  font-size: 15px;
  outline: none;
}

a:hover {
  text-decoration: none;
}
:focus {
  outline: none;
  border: none;
}

p {
  text-align: center;
  padding: 0 10px;
  margin-bottom: 55px;
  line-height: 1.8; }

.form-group {
  position: relative;
  display: block;
  margin-bottom: 55px; }
.form-group span {
  font-size: 15px;
  color: black;
  position: absolute;
  top: 11px;
  transition: all .2s ease;
  transform-origin: 0 0;
  cursor: text; }

.form-group span.border {
  height: 2px;
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  top: 41px;
  transform: scaleX(0);
  transition: all .15s ease;
  background: #fff;
outline: none;
}

.form-control {
  border: none;
  border-bottom: 2px solid black;
  display: block;
  width: 100%;
  height: 43px;
  font-size: 15px;
  background: none;
  font-family: "Montserrat-SemiBold"; }

.os{

  font-size: 20px;
  font-family: "Montserrat-SemiBold";
  text-align:left;

}



.form-control:focus,
.form-control:valid {
  border-bottom: 0px solid red; }
.form-control:focus + span, .form-control:valid + span {
  transform: translateY(-19px) scale(0.8);
outline: none;}
.form-control:focus + span + .border, .form-control:valid + span + .border {
  transform: scaleX(1);
  outline: none;}
select.form-control:focus+span {
  transform: translateY(-30px) scale(0.7);
  outline: none;

}

.status{
  width:10%;
  padding:15px;
  height: 20px;
  font-size:10px;
  display:inline;
  background: none;
  font-family: "Montserrat-SemiBold";
  margin:0;


}

input.status:focus+span{
  transform: translateY(-31px) scale(0.8);
}

textarea.form-control {
  padding-top: 10px;
  padding-bottom: 10px; }

button {

  border: none;
  width: 162px;
  height: 51px;
  border: 2px solid black;
  margin: auto;
  margin-top: 60px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: none;
  color: black;
  text-transform: uppercase;
  font-family: "Montserrat-SemiBold";
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s; }
button i {
  margin-left: 10px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }
button:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: LightGray;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }
button:hover {
  border-color: transparent; }
button:hover:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1); }
button:hover i {
  -webkit-transform: translateX(4px);
  transform: translateX(4px); }

@media (max-width: 767px) {
  h3 {
    font-size: 20px;
  }

  p {
    font-size: 14px;
    padding: 0;
  }

  .inner {
    padding: 27px 20px 37px;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
  }
}
